<h1>{{myData.name}}</h1>
<div>
    <ul>
        {{#with myData.aboutme}}
        <li><span class ="first-bolck">Full Name</span> : <span class="second-block">{{FullName}}</span></li>
        {{/with}}
    </ul>
</div>