<h1 style="font-family:'Courier New', Courier, monospace; color:DodgerBlue;">HELLO, MY NAME IS {{myData.name}}</h1>
<h2 style="font-family:'TH SarabunPSK'; color:rgb(44, 0, 167);">{{myData.work}}</h2>
